*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
    overflow-x: hidden;
}
.navbar{
    display: flex;
}
.logo{
    color: azure;
    font-size: 30px;
    font-weight: 600;
    margin-top: 40px;
    padding-left: 40px;
}
ul{
    display: flex;
    align-items: center ;
    justify-content: center;
    margin-left: 20%;
    margin-top: 30px;
    background: rgb(40, 37, 37);
    border-radius: 30px;
    height: 50px;
    width: 700px;
    
}
ul li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    justify-content: space-between;
    padding-right: 30px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 5px;
    
}

ul li a:hover{
    color: rgb(70, 67, 67);
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 20px 45px rgba(168, 144, 144, 0.18);
}

.account{
    color: antiquewhite;
    display: flex;
    font-size: 15px;
    margin-top: 50px;
    padding-left: 110px;
}
.acc{
    font-size: 25px;
    padding-left: 30px;
}
.acc:hover{
    color: rgb(72, 71, 70);
    transform: translateX(3px);
    transition: .5s ease;
}

.container{
    width: 97%;
    height: 100vh;
    background: linear-gradient(
  90deg,
  #000000 0%,
  #090a0b 35%,
  #292c2d 65%,
  #8fa79a 100%
);
margin-top: 20px;
border-radius: 30px;
}

.right-img{
   padding-left: 50px;
   padding-top: 100px;
}

.Cortex{
    color: white;
    padding-left: 150px;
}

.number{
    color: rgb(52, 53, 54);
    padding-left: 160px;
    font-size: 12px;
}


.mid-img{
    padding-left: 700px;
    position: relative;
    bottom: 210px;
}

.inner{
    width: 300px;
    height: 35px;
    background: rgb(86, 85, 85) ;
    border-radius: 20px;
    position: relative;
    right: 70px;
    bottom: 10px;
}
.inner p{
    align-items: center;
    justify-content: center;
    padding-left: 48px;
    font-size: 15px;
    color: aliceblue;
    font-weight: 300;
    padding-top: 10px;
}

.inner:hover{
    background: rgb(52, 51, 51);
    /* transform: translateY(5px); */
    transition: .5s ease;
}

.left-img{
    padding-left: 1070px;
    position: relative;
    bottom: 350px;
}
.main-heading{
    padding-left: 400px;
    position: relative;
    bottom: 300px;
}
.main-heading h1{
    color: wheat;
    font-size: 60px;
    font-weight: 500;
}
.main-heading p{
    color: rgb(117, 118, 119);
    padding-left: 60px;
    font-size: 16px;
    position: relative;
    top: 10px;
}

.btns{
    /* background: red; */
    height: 50px;
    padding-left: 600px;
    position: relative;
    bottom: 200px;
    justify-content: space-between;
}

.left-btn{
    width: 150px;
    height: 50px;
    background: rgb(84, 83, 84);
    border-radius: 50px;
    position: relative;
    left: 30px;
}
.left-btn a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-left: 35px;
    position: absolute;
    top: 15px;
    color: wheat;
    font-weight: 600;
}

.left-btn:hover{
    background: rgb(156, 146, 165);
    transition: .5s ease-in;
}
.left-btn a:hover{
    color: white;
}

.right-btn{
    width: 150px;
    height: 50px;
    background: rgb(245, 235, 245);
    border-radius: 50px;
    position: relative;
    left: 200px;
    bottom: 45px;
}

.right-btn a{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    padding-left: 24px;
    position: absolute;
    top: 15px;
    color: rgb(66, 65, 65);
    font-weight: 600;
}
.right-btn:hover{
    background-color: rgb(49, 48, 48);
    transition: .5s ease-in;
}

.bottom-img{
    position: relative;
    bottom: 280px;
}

.left-bottom-img{
    padding-left: 1050px;
    position: relative;
    bottom: 410px;
    
}

